<h1>Clippings Listing</h1>

<table>
  <tr>
    <th>Book</th>
    <th>Author</th>
    <th>Location</th>
    <th>Date</th>
    <th>Quote</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

  <% @clippings.each do |clipping| %>
      <tr>
        <td><%= clipping.book %></td>
        <td><%= clipping.author %></td>
        <td><%= clipping.location %></td>
        <td><%= clipping.date %></td>
        <td><%= clipping.quote %></td>
        <td><%= link_to 'Show', clipping %></td>
        <td><%= link_to 'Edit', edit_clipping_path(clipping) %></td>
        <td><%= link_to 'Destroy', clipping, :confirm => 'Are you sure?', :method => :delete %></td>
      </tr>
  <% end %>
</table>

<br/>

<%= link_to 'New Clipping', new_clipping_path %>


