TODO: Select Filter Checkbox

<h1>All Clippings</h1>

<table>
  <tr>
    <th>Book</th>
    <th>Author</th>
    <th>Type</th>
    <th>Location</th>
    <th>Date</th>
    <th>Quote</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

  <% @clips.each do |clip| %>
      <tr>
        <td><%= clip.book_title %></td>
        <td><%= clip.author %></td>
        <td><%= clip.type %></td>
        <td><%= clip.location %></td>
        <td><%= clip.added_on %></td>
        <td><%= clip.content %></td>
        <td><%= link_to 'Store clipping',:controller => "clippings",:action=>"new", :title=>clip.book_title,
                        :author=>clip.author, :quote=> clip.content %></td>
      </tr>
  <% end %>
</table>

<h1>Data From File</h1>
<p><% @kindle_file.contents %></p>

<%= link_to 'Back', kindle_files_path %>
