<!DOCTYPE html>
<html>
<head>
  <title>Rubymas</title>
  <%= stylesheet_link_tag :all %>
  <%= javascript_include_tag :defaults %>
  <%= csrf_meta_tag %>
</head>


<body id="store">
<div id="banner">
  <%= image_tag("logo.png") %>
  <%= @page_title || "Szkolka" %>
</div>
<div id="columns">
  <div id="side">
    <p>Kindle Start:</p>
    <%= link_to 'View Clippings', clippings_path %><br/>
    <%= link_to 'Upload From Kindle', kindle_files_path %>
    <br/>
    <br/>
    <p>Amazon Stuff:</p>
    <a href="https://kindle.amazon.com/most_popular">Books</a><br/>
    <a href="https://kindle.amazon.com/work/outliers-story-success-ebook/B0017J9YR8/B001ANYDAO">Highlights</a>
  </div>
  <div id="main">
    <%= yield %>
  </div>
</div>


</body>
</html>
